<div class="container">
  <footer class="footer">
    <small>
      Ruby Blog &copy; <a href="https://google.com">Google it</a>
      by <a href="https://www.linkedin.com/in/aldo-damian-noyola-martinez-17744222/en">Aldo Noyola</a>
    </small>
    <nav>
      <ul>
        <li>
          <%= link_to 'about', about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>